{% extends 'base.html' %} {% load static %} {% block styleArea %} {% endblock %} {% block contentArea %}

<div class="page-title-area bg-24">
    <div class="container">
        <div class="page-title-content">
            <h2>Events</h2>
            <ul>
                <li>
                    <a href="index.html">
Home
</a>
                </li>
                <li class="active">Events</li>
            </ul>
        </div>
    </div>
</div>


<section class="event-area-style pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <span>Education Events</span>
            <h2>Upcoming events</h2>
        </div>
        <div class="row">
            <div class="col-lg-6 col-sm-6">
                <div class="single-event">
                    <a href="single-event.html">
                        <img src="{% static 'img/event-img/event-img-1.png' %}" alt="Image">
                    </a>
                    <div class="event-content">
                        <ul>
                            <li>
                                <i class="bx bx-calendar"></i> Aug 13, 2020
                            </li>
                            <li>
                                <i class="bx bx-time"></i> Monday 3:00AM - 5:00PM
                            </li>
                        </ul>
                        <a href="single-event.html">
                            <h3>Comprehensive literacy and reading recovery conference</h3>
                        </a>
                        <span>
<i class="bx bxs-location-plus"></i>
Washington, DC
</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-6">
                <div class="single-event">
                    <a href="single-event.html">
                        <img src="{% static 'img/event-img/event-img-1.png' %}" alt="Image">
                    </a>
                    <div class="event-content">
                        <ul>
                            <li>
                                <i class="bx bx-calendar"></i> Sep 14, 2020
                            </li>
                            <li>
                                <i class="bx bx-time"></i> Monday 4:00AM - 6:00PM
                            </li>
                        </ul>
                        <a href="single-event.html">
                            <h3>Future of higher education: an invitation to lead</h3>
                        </a>
                        <span>
<i class="bx bxs-location-plus"></i>
New Orleans, LA
 </span>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-6">
                <div class="single-event">
                    <a href="single-event.html">
                        <img src="{% static 'img/event-img/event-img-1.png' %}" alt="Image">
                    </a>
                    <div class="event-content">
                        <ul>
                            <li>
                                <i class="bx bx-calendar"></i> Oct 01, 2020
                            </li>
                            <li>
                                <i class="bx bx-time"></i> Monday 3:00AM - 5:00PM
                            </li>
                        </ul>
                        <a href="single-event.html">
                            <h3>National reading recovery & literacy conference</h3>
                        </a>
                        <span>
<i class="bx bxs-location-plus"></i>
Bellevue, WA
</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-6">
                <div class="single-event">
                    <a href="single-event.html">
                        <img src="{% static 'img/event-img/event-img-1.png' %}" alt="Image">
                    </a>
                    <div class="event-content">
                        <ul>
                            <li>
                                <i class="bx bx-calendar"></i> July 13, 2020
                            </li>
                            <li>
                                <i class="bx bx-time"></i> Monday 3:00AM - 5:00PM
                            </li>
                        </ul>
                        <a href="single-event.html">
                            <h3>The great global project challenge conference</h3>
                        </a>
                        <span>
<i class="bx bxs-location-plus"></i>
London, UK
</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="event-about-area pb-100">
    <div class="container">
        <div class="section-title">
            <h2>About the event</h2>
        </div>
        <div class="row">
            <div class="col-lg-8">
                <div class="event-about-content">
                    <h3>The great global project challenge conference</h3>
                    <ul class="post-details">
                        <li>
                            <i class='bx bx-user'></i> By <a href="#">Admin</a>
                        </li>
                        <li>
                            <i class='bx bx-calendar'></i> Posted on 13/07/2020
                        </li>
                        <li>
                            <i class='bx bx-comment'></i>
                            <a href="#">2 Comments</a>
                        </li>
                    </ul>
                    <img src="{% static 'img/event-img/event-img-1.png' %}" alt="Image">
                    <h3 class="description-title">Even description</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis ipsum dolor
                        sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                    <p>Praesent dapibus, neque id cursus faucibus, tortor neque egestas auguae, eu vulputate magna eros eu Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="account-wrap">
                    <ul>
                        <li>
                            Price: <span class="bold">$29.00</span>
                        </li>
                        <li>
                            Start: <span>Sep 01, 2020</span>
                        </li>
                        <li>
                            End: <span>Sep 02, 2020</span>
                        </li>
                        <li>
                            Event category: <span>Education</span>
                        </li>
                        <li>
                            Total slot: <span>100</span>
                        </li>
                        <li>
                            Booked slot: <span>00</span>
                        </li>
                        <li>
                            Website: <a href="#">www.eduon.com</a>
                        </li>
                    </ul>
                    <a href="#" class="default-btn">Buy now</a>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="teachers-area-style pb-70">
    <div class="container">
        <div class="section-title">
            <h2>Event speakers</h2>
        </div>
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="single-teachers">
                    <img src="{% static 'img/teachers-img/teachers-img-1.jpg' %}" alt="Image">
                    <div class="teachers-content">
                        <ul>
                            <li>
                                <a href="#"><i class="bx bxl-instagram"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="bx bxl-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="bx bxl-linkedin-square"></i></a>
                            </li>
                        </ul>
                        <h3>Earl McGowan</h3>
                        <span>IT & Software</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single-teachers">
                    <img src="{% static 'img/teachers-img/teachers-img-1.jpg' %}" alt="Image">
                    <div class="teachers-content">
                        <ul>
                            <li>
                                <a href="#"><i class="bx bxl-instagram"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="bx bxl-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="bx bxl-linkedin-square"></i></a>
                            </li>
                        </ul>
                        <h3>Chris Miller</h3>
                        <span>Mathematic</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single-teachers">
                    <img src="{% static 'img/teachers-img/teachers-img-1.jpg' %}" alt="Image">
                    <div class="teachers-content">
                        <ul>
                            <li>
                                <a href="#"><i class="bx bxl-instagram"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="bx bxl-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="bx bxl-linkedin-square"></i></a>
                            </li>
                        </ul>
                        <h3>Mark Dent</h3>
                        <span>Programmer</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single-teachers">
                    <img src="{% static 'img/teachers-img/teachers-img-1.jpg' %}" alt="Image">
                    <div class="teachers-content">
                        <ul>
                            <li>
                                <a href="#"><i class="bx bxl-instagram"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="bx bxl-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="bx bxl-linkedin-square"></i></a>
                            </li>
                        </ul>
                        <h3>Lena Bodie</h3>
                        <span>English</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<div class="partner-area f5f6fa-bg-color ptb-100">
    <div class="container">
        <div class="partner-wrap owl-theme owl-carousel">
            <div class="partner-item">
                <a href="#">
                    <img src="{% static 'img/partner-logo/partner-logo-1.png' %}" alt="Image">
                </a>
            </div>
            <div class="partner-item">
                <a href="#">
                    <img src="{% static 'img/partner-logo/partner-logo-1.png' %}" alt="Image">
                </a>
            </div>
            <div class="partner-item">
                <a href="#">
                    <img src="{% static 'img/partner-logo/partner-logo-1.png' %}" alt="Image">
                </a>
            </div>
            <div class="partner-item">
                <a href="#">
                    <img src="{% static 'img/partner-logo/partner-logo-1.png' %}" alt="Image">
                </a>
            </div>
            <div class="partner-item">
                <a href="#">
                    <img src="{% static 'img/partner-logo/partner-logo-1.png' %}" alt="Image">
                </a>
            </div>
        </div>
    </div>
</div>

{% endblock %} {% block scriptArea %} {% endblock %}