{% extends 'base.html' %} {% load static %} {% block styleArea %} {% endblock %} {% block contentArea %}


<section class="banner-area f5f6fa-bg-color">
    <div class="container-fluid social">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="banner-content">

                    <h1 class="wow fadeInLeft" data-wow-delay="0.3s">WELCOME TO REERA</h1>
                    <p class="wow fadeInLeft" data-wow-delay="0.6s">Offering an exclusive range of security products including Safes, Safe Deposit Lockers, Fire Proof Safes, Security Safes, Vaults (Strong Room) Doors, Fire Resisting Filling Cabinets, etc.</p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="banner-img wow fadeInRight" data-wow-delay="0.3s">
                    <img src="{% static 'img/banner-img/12.gif' %}" alt="Image">
                </div>
            </div>
        </div>

        <ul class="social-wrap">
            <li>
                <a href="#" target="_blank">
                    <i class="bx bxl-twitter"></i>
                </a>
            </li>
            <li>
                <a href="#" target="_blank">
                    <i class="bx bxl-instagram"></i>
                </a>
            </li>
            <li>
                <a href="#" target="_blank">
                    <i class="bx bxl-facebook"></i>
                </a>
            </li>
            <li>
                <a href="#" target="_blank">
                    <i class="bx bxl-linkedin"></i>
                </a>
            </li>
        </ul>

    </div>
</section>


<div class="partner-area f5f6fa-bg-color ptb-100">
    <div class="container">

        <div class="partner-wrap owl-theme owl-carousel">
            <div class="partner-item">
                <a href="#">
                    <img src="{% static 'img/partner-logo/1.gif' %}" alt="Image">
                </a>
            </div>
            <div class="partner-item">
                <a href="#">
                    <img src="{% static 'img/partner-logo/2.gif' %}" alt="Image">
                </a>
            </div>
            <div class="partner-item">
                <a href="#">
                    <img src="{% static 'img/partner-logo/3.gif' %}" alt="Image">
                </a>
            </div>
            <div class="partner-item">
                <a href="#">
                    <img src="{% static 'img/partner-logo/4.gif' %}" alt="Image">
                </a>
            </div>
            <div class="partner-item">
                <a href="#">
                    <img src="{% static 'img/partner-logo/5.gif' %}" alt="Image">
                </a>
            </div>
            <div class="partner-item">
                <a href="#">
                    <img src="{% static 'img/partner-logo/6.gif' %}" alt="Image">
                </a>
            </div>
            <div class="partner-item">
                <a href="#">
                    <img src="{% static 'img/partner-logo/7.gif' %}" alt="Image">
                </a>
            </div>
            <div class="partner-item">
                <a href="#">
                    <img src="{% static 'img/partner-logo/8.gif' %}" alt="Image">
                </a>
            </div>
            <div class="partner-item">
                <a href="#">
                    <img src="{% static 'img/partner-logo/9.gif' %}" alt="Image">
                </a>
            </div>
            <div class="partner-item">
                <a href="#">
                    <img src="{% static 'img/partner-logo/10.gif' %}" alt="Image">
                </a>
            </div>
            <div class="partner-item">
                <a href="#">
                    <img src="{% static 'img/partner-logo/11.gif' %}" alt="Image">
                </a>
            </div>
            <div class="partner-item">
                <a href="#">
                    <img src="{% static 'img/partner-logo/12.gif' %}" alt="Image">
                </a>
            </div>
            <div class="partner-item">
                <a href="#">
                    <img src="{% static 'img/partner-logo/13.gif' %}" alt="Image">
                </a>
            </div>
            <div class="partner-item">
                <a href="#">
                    <img src="{% static 'img/partner-logo/14.gif' %}" alt="Image">
                </a>
            </div>
            <div class="partner-item">
                <a href="#">
                    <img src="{% static 'img/partner-logo/1.gif' %}" alt="Image">
                </a>
            </div>

        </div>

    </div>
</div>


<section class="achieve-area f5f6fa-bg-color pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <h2 style="color: crimson;">R.R ENGINEERING WORKS</h2>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <div class="single-achieve">
                    <div class="achieve-shape shape-1">
                        <img src="{% static 'img/achieve-shape/achieve-shape-1.png' %}" alt="Image">
                        <i class="flaticon-skills"></i>
                    </div>
                    <h3>Company</h3>
                    <p>'REERA' is a market leader in storage solutions area in india since 1984 by Mr. R K Yadav, we are the integrated management system Certified By ISO.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="single-achieve">
                    <div class="achieve-shape shape-2">
                        <img src="{% static 'img/achieve-shape/achieve-shape-2.png' %}" alt="Image">
                        <i class="flaticon-career"></i>
                    </div>
                    <h3>Infrastructure</h3>
                    <p>All components of our racks undergo exhaustive traction, bending, compression & joint rigidity & joint rigidity tests.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="single-achieve">
                    <div class="achieve-shape shape-3">
                        <img src="{% static 'img/achieve-shape/achieve-shape-3.png' %}" alt="Image">
                        <i class="flaticon-certificate"></i>
                    </div>
                    <h3>Mission, Vision & Values</h3>
                    <p>Our prime motto is to serve the WORLD with our innovative and quality equipment in the material storage arena.</p>
                </div>

            </div>
        </div>
</section>


<section class="education-area ebeef5-bg-color">
    <div class="container-fluid p-0">
        <div class="row">
            <div class="col-lg-6">
                <div class="education-img">
                    <img src="static/img/200.jpg" alt="Image">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="education-content ptb-100">
                    <span class="top-title">Service</span>
                    <h2>Our Service is your peace of mind</h2>
                    <p>There is a well known saying “Prevention is Better Than Cure”, this applies to everything and also to 'REERA' products. So preventing a problem is always better than fixing one. That simple philosophy is behind our annual maintenance
                        contracts as they are designed to reduce operational risks and help provide you with a trouble-free materials handling operation.</p>
                    <h4>Service Support</h4>
                    <p>At 'REERA' we have always had the customer as our prime focus. We take utmost care to cooperate with reliable and well trained service partners. But at the same time we have our own well trained service engineers for the backup.</p>


                </div>
            </div>
        </div>
    </div>
</section>


<section class="courses-area pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <h2>Product</h2>
        </div>
        <div class="row">
            {% for glr in MainPopular %}
            <div class="col-lg-3 col-md-6">
                <div class="single-course">
                    <a href="single-course.html">
                        <img src="{{glr.image.url}}" alt="Image">
                    </a>
                    <div class="course-content">

                        <a href="single-course.html">
                            <h3>{{glr.name}}</h3>
                        </a>

                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>


<section class="counter-area ebeef5-bg-color pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <div class="single-counter">
                    <!-- <div class="counter-shape shape-1">
                        <img src="{% static 'img/counter-shape/counter-shape-2.png' %}" alt="Image">
                        <h2>
                            <span class="odometer" data-count="100">00</span>
                            <span class="target">%</span>
                        </h2>
                    </div> -->
                    <h2>Reera Storage System</h2>
                    <p>'REERA' is the leading manufacturer of intelligent and innovative storage solutions for wide range industry applications. 'REERA' storage solution include various types of pallet racking systems, automobile, pharmaceutical, chemicals
                        etc. products are mode from steel confirming to IS: 1079 OR IS: 513 and painted in stove enamelled dark grey paint over a rust protective undercoat.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="single-counter">
                    <!-- <div class="counter-shape shape-2">
                        <img src="{% static 'img/counter-shape/counter-shape-2.png' %}" alt="Image">
                        <h2>
                            <span class="odometer" data-count="5253">00</span>
                        </h2>
                    </div> -->
                    <h2>Reera Interior & Furniture </h2>
                    <p>For every minute spent organizing, an hour is earned. An unorganized workspace only makes the road to efficiency lengthier and full of obstacles. Lockers and Cabinets from Reera not only enhance organisation and efficiency, while optimising
                        office space, they also dramatically improve the aesthetics through myriad possibilities in texture, colour and finish.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="single-counter">
                    <!-- <div class="counter-shape shape-3">
                        <img src="{% static 'img/counter-shape/counter-shape-2.png' %}" alt="Image">
                        <h2>
                            <span class="odometer" data-count="325">00</span>
                        </h2>
                    </div> -->
                    <h2>Reera Warehouses Equipment & System</h2>
                    <p>'REERA' Material Handling Equipment provides ideal solution for YOUR wide range material movement, lifting, driving and tilting issues, palletizing loads for various industrial and warehousing applications.'REERA' material handling
                        equipment offered with a high level of working safety, comfort and functionality.</p>
                </div>
            </div>
            <!-- <div class="col-lg-3 col-sm-6">
                <div class="single-counter">
                    <div class="counter-shape shape-4">
                        <img src="{% static 'img/counter-shape/counter-shape-2.png' %}" alt="Image">
                        <h2>
                            <span class="odometer" data-count="565">00</span>
                        </h2>
                    </div>
                    <p>Complete courses</p>
                </div>
            </div> -->
        </div>
    </div>
</section>


<section class="enroll-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="enroll-wrap">
                    <form class="courses-form">
                        <!-- <span>Need Any Courses</span> -->
                        <h3>Superior Values, Increased Uptime</h3>
                        <p>'REERA' is the leading manufacturer of intelligent and innovative storage solutions for wide range industry applications. 'REERA' storage solution include various types of pallet racking systems, shelving systems, and automated
                            warehouses for use in any industry or distribution sector such as food, automobile, pharmaceutical, chemicals etc.</p>
                    </form>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="enroll-img">
                    <img src="{% static 'img/600.gif' %}" alt="Image">
                </div>
            </div>
        </div>
    </div>
</section>


<section class="feedback-area f5f6fa-bg-color ptb-100">
    <div class="container">
        <div class="section-title">
            <h2>Company Profile</h2>
        </div>
        <div class="feedback-slider owl-theme owl-carousel">
            <div class="feedback-item">
                <i class="flaticon-quotation"></i>
                <p>Reera was formed in with a small factory premise of 200 Sq. mtr. with an aim to manufacturing and supply precision press parts, structural & sheet metal parts for a multinational lift manufacturing company and a white goods manufacturing
                    company in India. In 1990 the organization entered into manufacturing and marketing In-plant material handling equipment and storage systems. The wide spectrum of product range includes Manually Operated, A.C. Operated, Semi Battery
                    Operated and Fully Battery Operated equipment with most advanced technology of the industry; the storage systems range includes a wide range of internationally accepted modular design concepts. 'Reera' distinguishes itself from many
                    other manufacturers by focusing its attention on its respective customer problem of handling and storage, and the solution from its mass produced standard item or in custom made product. To get the right solution 'Reera' representatives
                    have at their disposal an enormous reserve of technical knowhow. Now, 'Reera' is a trusted name in industries consistently committed to offer the best solution, the best quality at the best prices and the best after sales service.</p>
                <div class="feedback-title">
                    <img src="{% static 'img/feedback-img/1.gif' %}" alt="Image">
                    <h3>Vision</h3>
                    <!-- <span>Designer</span> -->
                </div>
            </div>
            <div class="feedback-item">
                <i class="flaticon-quotation"></i>
                <p>“Go Global” is the mission statement of 'Reera'. Our prime motto is to serve the WORLD with our innovative and quality equipment in the material handling arena. Our material handling equipment supplied to the every nook of the country.
                    We are still thriving to make our foot-print in the global front with our innovative motions. 'Reera' has coalesced its status as an across-the-board supplier of material handling and warehousing solutions.</p>
                <div class="feedback-title">
                    <img src="{% static 'img/feedback-img/2.gif' %}" alt="Image">
                    <h3>Mission Statement</h3>
                    <!-- <span>Marketer </span> -->
                </div>
            </div>
            <div class="feedback-item">
                <i class="flaticon-quotation"></i>
                <h5>'Reera' : A strong family company - yesterday, today, tomorrow. </h5>
                <p>As the owning family we have always represented the backbone of the entire Group, and thanks to our strong commitment, ensure reliable and forward-looking development opportunities.</p>
                <p>We want the values we have built on to shape the company. Based on these values, we have defined guiding principles for the management of the company.</p>
                <h4>The key statements are:</h4>
                <p>We think, plan and act with a long-term view We search for market-oriented innovations, promote them and implement them We want to "grow", but not at any cost We limit risks, and only undertake them in an acceptable framework We reinforce
                    our financial strength thanks to internal financing
                </p>
                <div class="feedback-title">
                    <img src="{% static 'img/feedback-img/3.gif' %}" alt="Image">
                    <h3>Value</h3>
                    <!-- <span>Designer</span> -->
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %} {% block scriptArea %} {% endblock %}