{% extends 'base.html' %} {% load static %} {% block styleArea %} {% endblock %} {% block contentArea %}


<div class="page-title-area bg-4">
    <div class="container">
        <div class="page-title-content">
            <h2>Product</h2>
            <ul>
                <li class="active">Reera Storage System</li>
            </ul>
        </div>
    </div>
</div>

<section class="product-area-style ptb-100">
    <div class="container">
        <div class="showing-result">
            <div class="row align-items-center">

                <div class="col-lg-4 col-md-6">
                    <form class="search-form">
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            {% for pro in MainProduct %}

            <div class="col-lg-4 col-md-6">
                <div class="single-course">
                    <a href="single-course.html">
                        <img src="{{pro.image.url}}" alt="Image">
                    </a>
                    <div class="course-content">
                        <a href="single-course.html">
                            <h3>{{pro.name}}</h3>
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}

            <div>

</section>

{% endblock %} {% block scriptArea %} {% endblock %}